@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Josefin+Sans:ital,wght@0,200;1,300&family=Roboto+Condensed:wght@300;400&family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Josefin+Sans:ital,wght@0,200;1,300&family=Playpen+Sans&family=Roboto+Condensed:wght@300;400&family=Tilt+Neon&display=swap');
:root {
    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.8rem;
    --fs-5: 1.7rem;
    --section-padding: 35px;
    --shadow-1: 0 1px 2px hsla(0, 0%, 0%, 0.058);
    --shadow-2: 0 10px 15px -5px var(--carcoal_20);
    --shadow-3: 0 10px 25px -3px var(--carcoal_20);
    --shadow-4: 0 0 3px var(--carcoal_15);
    --shadow-5: 0 20px 25px -5px var(--carcoal_10), 0 10px 10px -5px var(--carcoal_10);
    --radius-16: 16px;
    --radius-12: 12px;
    --radius-6: 6px;
    --radius-4: 4px;
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding-block: 18px;
    z-index: 555;
    padding: 30px 50px;
    animation: header 0.5s ease forwards;
}

@keyframes header {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0%);
    }
}

.header.active {
    box-shadow: var(--shadow-1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container .logo {
    font-family: fangsong;
    font-size: 28px;
}

.nav-toggle-btn.active .menu-icon, .nav-toggle-btn .close-icon {
    display: none;
}

.nav-toggle-btn .menu-icon, .nav-toggle-btn.active .close-icon {
    display: block;
}

.nav-toggle-btn {
    background-color: white;
    border: none;
}

.nav-toggle-btn .menu-icon {
    cursor: pointer;
    font-size: 28px;
}

.nav-toggle-btn .close-icon {
    cursor: pointer;
    font-size: 28px;
}

.navbar {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding-inline: 18px;
    padding-block: 13px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden; 
    transition: 0.25s var(--cubic-out);
    background-color: #f8f8f8;
}

.navbar.active {
    max-height: 465px;
    visibility: visible;
    transition-duration: 0.5s;
}

.navbar-list {
    margin-block: 10px;
    opacity: 0;
}

.navbar-list .navbar-link-list {
    padding-block-end: 14px;
    font-size: 15px;
    transition: var(--transition);
    transition-duration: 1.9s;
    letter-spacing: 1px;
}

.navbar.active .navbar-list {
    opacity: 1;
}

.social {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 18px;
}

.navbar-link-list input {
    display: none;
}

.navbar-link-list label {
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.navbar-link-list .collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition-duration: 0.5s;
    display: grid;
}

.navbar-link-list input:checked ~ .collapsible-text {
    max-height: 100px;
    opacity: 1;
    top: 90%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #18425526;
}

::-webkit-scrollbar-track {
    background-color: white;
}

.navbar-link-list label {
    display: flex;
    align-items: center;
    gap: 3px;
}

.navbar-link-list label ion-icon {
    font-size: 14px;
}

.navbar-link-list input:checked + label ion-icon {
    transform: rotate(90deg);
}

.collapsible-text .links {
    padding-inline-start: 20px;
}

.section-one {
    padding-inline: 20px;
    padding-top: 125px;
    background-color: #d1e3e3;
    padding-bottom: 20px;
}

.section-one .Stores-div {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.Stores-div h1 {
    margin-bottom: 25px;
    font-size: 35px;
    font-family: fangsong;
    font-weight: 500;
    color: #184255;
}

.stores-one {
    margin-block: 40px;
}

.stores-one h3 {
    margin-bottom: 17px;
    font-size: 22px;
    font-weight: 500;
    color: #184255;
}

.stores-one p {
    font-size: 19px;
    font-family: Josefin Sans, sans-serif;
    font-weight: 500;
    color: #184255;
    line-height: 29px;
    padding-bottom: 15px;
}

footer {
    background-color: #f7f6f4;
}

.footer {
    padding-block-start: 60px;
    padding-inline: 20px;
    padding-block-end: 41px;
}

.footer-top {
    margin: 30px;
    text-align: center;
}

.footer-top a {
    font-family: fangsong;
    font-size: 36px;
    display: block;
}

.footer-top span {
    font-size: 7px;
}

.footer-bottom {
    display: grid;
    gap: 28px;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 49px;
}

.footer-bottom li {
    font-family: Josefin Sans, sans-serif;
    width: 120px;
    margin: auto;
    font-size: 14px;
    letter-spacing: 2px;
}

.footer-bottom li:hover {
    opacity: 0.7;
}

.footer-links {
    width: 49%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: auto;
}

.footer-links li {
    margin: auto;
}

.footer-links li > a {
    font-size: 27px;
    color: #184255;
}

.footer-links li > a:hover {
    color: black;
}

body {
    position: relative;
}

.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #666666cc;
    color: white;
    padding: 11px;
    transition-duration: 0.9s;
    z-index: 4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 8888;
}

.back-top-btn:hover {
    background-color: #333;
}

.back-top-btn.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}

/* Media Query */

@media (min-width: 640px) {
    .header {
        background-color: white;
        width: 100%;
        position: fixed;
        padding-block: 18px;
        z-index: 555;
        padding: 30px 50px;
    }

    .section-one {
        padding-inline: 40px;
    }

    .section-two {
        padding-inline: 40px;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px 0px;
        width: 51%;
        text-align: center;
        margin-top: 49px;
        margin-bottom: 49px;
        margin-inline: auto;
    }

    .footer-links {
        width: 30%;
        gap: 2px;
        margin: auto;
        display: flex;
    }
}

@media (min-width: 768px) {
    .header {
        background-color: white;
        width: 100%;
        position: fixed;
        padding-block: 18px;
        z-index: 555;
        padding: 30px 50px;
        padding-inline: 90px;
    }

    .section-one {
        padding-inline: 60px;
    }

    .section-one .collaboration-div {
        text-align: left;
    }

    .collaboration-list {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }

    .section-two {
        padding-inline: 60px;
    }

    .section-one .Stores-div {
        margin-top: 20px;
        text-align: left;
        margin-bottom: 20px;
    }

    .footer {
        padding-inline: 60px;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 62%;
    }
}

@media (min-width: 992px) {
    .nav-toggle-btn {
        display: none;
    }

        .navbar,
    .navbar.active {
        all: unset;
        transform: translateX(0px);
    }

    .navbar-list {
        display: flex;
        opacity: 1;
        gap: 36px;
    }

    .social {
        display: none;
    }

    .list-style {
        width: 75px;
        margin: auto;
        font-size: 15px;
    }

    .navbar-list .navbar-link-list {
        font-size: 15px;
        padding-block-end: 0px;
        font-family: cursive;
    }

    .navbar-link-list .collapsible-text {
        max-height: 1px;
        overflow: hidden;
        border-radius: 4px;
        line-height: 1.4;
        top: 98%;
        opacity: 0;
        display: grid;
        position: absolute;
        background: #f6f6f6;
        gap: 5px;
        width: 166px;
        box-shadow: 2px 6px 6px rgb(149 149 149 / 17%);
        border-radius: 6px;
    }

    .navbar-link-list input:checked + label ion-icon {
        transform: rotate(90deg) translate(3px, -2px);
    }

    .navbar-link-list input:checked ~ .collapsible-text {
        max-height: 700%;
        opacity: 1;
        top: 135%;
    }

    .navbar-link-list label {
        gap: 0;
    }

    .navbar-link-list label ion-icon {
        transform: translateY(2px);
    }

    .collapsible-text .links {
        padding-inline-start: 0px;
        padding: 6px;
        width: 101%;
        text-align: center;
    }

    .collapsible-text .links:hover {
        background-color: white;
    }

    .header {
        padding-inline: 81px;
    }

    .section-one {
        padding-inline: 80px;
    }

    .section-two {
        padding-inline: 80px;
    }

    .collaboration-list {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer {
        padding-inline: 81px;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 76%;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-inline: 0px;
    }

    .navbar-list {
        display: flex;
        opacity: 1;
        gap: 36px;
    }

    .list-style {
        width: 75px;
        margin: auto;
        font-size: 15px;
    }

    .navbar-list .navbar-link-list {
        font-size: 15px;
        padding-block-end: 0px;
        font-family: cursive;
    }

    .navbar-link-list .collapsible-text {
        max-height: 1px;
        overflow: hidden;
        border-radius: 4px;
        line-height: 1.4;
        top: 98%;
        opacity: 0;
        display: grid;
        position: absolute;
        background: #f6f6f6;
        gap: 5px;
        width: 166px;
        box-shadow: 2px 6px 6px rgb(149 149 149 / 17%);
        border-radius: 6px;
    }

    .navbar-link-list input:checked + label ion-icon {
        transform: rotate(90deg) translate(3px, -2px);
    }

    .navbar-link-list input:checked ~ .collapsible-text {
        max-height: 700%;
        opacity: 1;
        top: 135%;
    }

    .navbar-link-list label {
        gap: 0;
    }

    .navbar-link-list label ion-icon {
        transform: translateY(2px);
    }

    .collapsible-text .links {
        padding-inline-start: 0px;
        padding: 6px;
        width: 125%;
        transform: translateX(-16px);
        text-align: center;
    }

    .collapsible-text .links:hover {
        background-color: white;
    }

    .header {
        background-color: white;
        width: 100%;
        position: fixed;
        padding-block: 18px;
        z-index: 555;
        padding: 30px 50px;
        padding-inline: 50px
    }
}

@media (min-width: 1400px) {
    .header {
        padding-inline: 100px;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 76%;
    }
}